body {
    margin: 0;
    background: rgb(44, 44, 44);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#wrapper {
    display: flex;
    width: 450px;
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(3, 26, 61);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #222;
    perspective: 800px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.login,
.register {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back {
    transform: rotateY( 180deg);
}
.flipped {
    transform: rotateY( 180deg);
}
h1,
p{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 30px;
    color: #e0e0e0;
}
input {
    padding: 5px;
    margin: 20px;
    width: 80%;
    padding: 5px;
    padding-left: 35px;
    outline: none;
    border: none;
    background: none;
    color: #ccc;
    border-bottom: 1px solid cyan;
}
button {
    outline: none;
    border: none;
    background: none;
    text-transform: uppercase;
    color: cyan;
    background: none;
    border: 1px solid cyan;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin: 8px;
    font-weight: bold;
    transition: all 0.5s ease;
}
button:hover {
    cursor: pointer;
    background: cyan;
    color: #000;
}
.links {
    display: flex;
    flex: 1;
    max-height: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    width: 100%;
}
.links a {
    text-decoration: none;
    color: cyan;
    padding: 5px;
}
.links a:hover {
    text-decoration: underline;
}
.login .links{
    padding-top: 20px;
}
.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.fa {
    position: relative;
    right: -35px;
    transition: opacity 2s ease-in-out;
}
.flipped .login .fa {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}