/* Estilização geral */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #212c3b;
}


/* Navbar */
header {
  background-color: #141b25;
}

.main-nav {
  height: 80px;
}

.logo {
  color: white;
  line-height: 80px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 80px;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  text-transform: uppercase;
}

.navlinks li a:hover {
  color: #7ebcb9;
  padding-bottom: 7px;
  border-bottom: 2px solid #7ebcb9;
}

li a.contact {
  background-color: #00adb5;
  padding: 9px 20px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  border-bottom: none;
}

li a.contact:hover {
  background-color: #047e85;
  color: white;
  border-bottom: none;
}

#check {
  display: none;
}

.menu-btn {
  font-size: 25px;
  color: white;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

/* Footer */
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #141b25;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #111;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
    color:#44bae8;
    font-size: 16px;
    text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
    margin-bottom: 20px;
}
.footer-menu ul{
    display: flex;
}
.footer-menu ul li{
    padding-right: 10px;
    display: block;
}
.footer-menu ul li a{
    color: #cfd2d6;
    border: 1.3px solid white;
    padding: 6px 15px;
    border-radius: 50px;
    text-decoration: none;
}
.footer-menu ul li a:hover{
    color: #27bcda;
}

/* Responsividade Geral */
@media (max-width: 800px) {
    .navlinks {
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.5s;
        right: -100%;
        background: #222831;
    }

    .navlinks li {
        display: block;
    }

    .navlinks li a {
        font-size: 20px;
    }

    .navlinks li a:hover {
        border-bottom: none;
    }

    .menu-btn {
        display: block;
    }

    #check:checked ~ .navlinks {
        right: 0;
    }
}

@media (max-width: 360px) {
    .logo {
        margin-left: 10px;
        font-size: 25px;
    }

    .menu-btn {
        margin-right: 10px;
        font-size: 25px;
    }

    .menu-btn:focus {
        color: blue;
    }
}

@media (max-width:500px) {
    .footer-menu ul{
        display: inline;
    }

    .footer-menu ul li{
        margin-bottom: 20px;
    }
}